{extend name='admin@public/content'}
{block name="button"}
{/block}

{block name="content"}
<style>
    .new-table td {
        border:1px solid #e2e2e2;
    }
</style>

<div class="layui-form layui-form-pane form-search" style="height: 60px;">
    <div class="row" style="margin-left:0.4%;float: left">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">时间</label>
            <div class="layui-input-inline">
                <input type="text" id="time_range" name="time_range" value="{$Think.get.time_range|default=date('Y')}"
                       placeholder="选择时间" class="input-sm form-control">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary" id="search"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </div>
</div>
<script>
    window.form.render();
</script>
<div id="container1" style="min-width:400px;height:400px;"></div>

<div id="container2" style="min-width:400px;height:400px;"></div>

<script>

    $(function () {
        layui.use('laydate', function () {
            var laydate = layui.laydate
            laydate.render({
                elem: '#time_range',
                theme: '#0099CC',
                format: 'yyyy',
                type: 'year'
            })
        })
        data_onload();
        $('#search').click(function () {
            var date = $('#time_range').val();
            data_onload(date);
        })

    })
    function data_onload(date = '') {
        $.post('/statistics/finance/finance_year_data', {date: date}, function (res) {
            var branch_data = [];
            for (var index in res.branch_data) {
                var json = {
                    name: res.school[index],
                    type: 'line',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'top'
                        }
                    },
                    areaStyle: {},
                    data: (res.branch_data)[index]
                }
                branch_data.push(json)
            }
            require(['echarts'], function () {
                var echarts = require('echarts');
                var myChart1 = echarts.init(document.getElementById('container1'));
                var myChart2 = echarts.init(document.getElementById('container2'));
                option1 = {
                    title: {
                        text: res.year+'年按月销售额数据分析'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#6a7985'
                            }
                        }
                    },
                    legend: {
                        data: ['报名销售额', '续费销售额', '总销售额']
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    // grid: {
                    //     left: '3%',
                    //     right: '4%',
                    //     bottom: '3%',
                    //     containLabel: true
                    // },
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            data: res.month
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value'
                        }
                    ],
                    series: [
                        {
                            name: '报名销售额',
                            type: 'line',
                            stack: '总量',
                            label: {
                                normal: {
                                    show: true,
                                    position: 'top'
                                }
                            },
                            areaStyle: {},
                            data: res.sign_price
                        },
                        {
                            name: '续费销售额',
                            type: 'line',
                            stack: '总量',
                            label: {
                                normal: {
                                    show: true,
                                    position: 'top'
                                }
                            },
                            areaStyle: {},
                            data: res.renew_price
                        },
                        {
                            name: '总销售额',
                            type: 'line',
                            stack: '总量',
                            label: {
                                normal: {
                                    show: true,
                                    position: 'top'
                                }
                            },
                            areaStyle: {},
                            data: res.total_price
                        },
                    ]
                };
                option2 = {
                    title: {
                        text: res.year+'各校区按月销售额数据分析'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#6a7985'
                            }
                        }
                    },
                    legend: {
                        data: res.branchs
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    // grid: {
                    //     left: '3%',
                    //     right: '4%',
                    //     bottom: '3%',
                    //     containLabel: true
                    // },
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            data: res.month1
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value'
                        }
                    ],
                    series: branch_data

                };
                myChart1.setOption(option1);
                myChart2.setOption(option2);
            })
        })
    }

</script>
{/block}
