{extend name='admin@public/content'}
{block name="button"}
{/block}

{block name="content"}
<style>
    .new-table td {
        border:1px solid #e2e2e2;
    }
</style>

<form class="layui-form layui-box modal-form-box form-search" style="height: 60px;">
    <div class="row" style="margin-left:0.4%;float: left">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">显示类型</label>
            <div class="layui-input-inline">
                <select name='show_type' class='layui-select full-width' lay-filter="show_type">
                    <option value='1'>年份</option>
                    <option value='2'>月份</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">时间</label>
            <div class="layui-input-inline">
                <input type="text" id="time_range1" name="time_range" value="{$Think.get.time_range|default=date('Y')}"
                       placeholder="选择年份" class="input-sm form-control">
                <input type="text" id="time_range2" name="time_range" value="{$Think.get.time_range|default=date('Ym')}"
                       placeholder="选择月份" class="input-sm form-control" style="display: none">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-primary" id="search"><i class="layui-icon">&#xe615;</i> 搜 索</a>
        </div>
    </div>
</form>
<script>
    window.form.render();
</script>
<div id="container1" style="min-width:400px;height:400px;"></div>

<div id="container2" style="min-width:400px;height:400px;"></div>

<script>

    $(function () {
        window.form.render();
        layui.use('laydate', function () {
            var laydate = layui.laydate
            laydate.render({
                elem: '#time_range1',
                theme: '#0099CC',
                format: 'yyyy',
                type: 'year',
                value: "{:date('Y')}",
                done: function (value, date, endDate) {
                    var date = new Date(date.year + '-' + date.month + '-' + date.date)
                    var endDate = new Date(endDate.year + '-' + endDate.month + '-' + endDate.date)
                    // if ((endDate - date) / 1000 / 86400 > 31) {
                    //     $.msg.alert('最大时间范围为31天', function () {
                    //         $('#time_range').val('')
                    //     })
                    // }
                }
            })
            laydate.render({
                elem: '#time_range2',
                theme: '#0099CC',
                format: 'yyyyMM',
                type: 'month',
                value: "{:date('Ym')}",
            })
        })
        form.on('select(show_type)', function (data) {
            type = data.value;
            if (type == 2) {
                $('#time_range2').show();
                $('#time_range1').hide();
            } else if(type == 1) {
                $('#time_range1').show();
                $('#time_range2').hide();
            }
            window.form.render();
        });
        var type = $('select[name="show_type"] option:selected').val();
        data_onload()
        $('#search').click(function () {
            if (type == 2) {
                var date = $('#time_range2').val();
            } else if(type == 1) {
                var date = $('#time_range1').val();
            }
            type = $('select[name="show_type"] option:selected').val();
            data_onload(date);
        })
        function data_onload(date = '') {
            $.post('/statistics/finance/orders_data', {date: date, type: type}, function (res) {
                require(['echarts'], function () {
                    var echarts = require('echarts');
                    var myChart1 = echarts.init(document.getElementById('container1'));
                    var myChart2 = echarts.init(document.getElementById('container2'));
                    option1 = {
                        title: {
                            text: res.year+'校区年度订单成交量',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                crossStyle: {
                                    color: '#999'
                                }
                            }
                        },
                        toolbox: {
                            feature: {
                                dataView: {show: true, readOnly: false},
                                magicType: {show: true, type: ['line','bar']},
                                restore: {show: true},
                                saveAsImage: {show: true}
                            }
                        },
                        legend: {
                            data: ['报名', '续费'],
                            left: 'left'
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: res.branchs,
                                axisPointer: {
                                    type: 'shadow'
                                },
                                axisLabel: {
                                    interval:0,
                                    rotate:40
                                },
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                name: '数量',
                                min: 0,
                                // max: 250,
                                axisLabel: {
                                    formatter: '{value} '
                                }
                            }
                        ],
                        series: [
                            {
                                name: '报名',
                                type: 'bar',
                                data: res.sign_num,
                                color: ['#ffcc33'],
                                barWidth : 30,//柱图宽度
                            },
                            {
                                name: '续费',
                                type: 'bar',
                                data: res.renew_num,
                                color: ['#99ff99'],
                                barWidth : 30,//柱图宽度
                            },
                            {
                                name: '总数量',
                                type: 'line',
                                data: res.total_num
                            },
                        ]
                    };
                    option2 = {
                        title: {
                            text: res.year+'校区年度订单销售额',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                crossStyle: {
                                    color: '#999'
                                }
                            }
                        },
                        toolbox: {
                            feature: {
                                dataView: {show: true, readOnly: false},
                                magicType: {show: true, type: ['bar', 'line']},
                                restore: {show: true},
                                saveAsImage: {show: true}
                            }
                        },
                        legend: {
                            data: ['报名金额','续费金额'],
                            left: 'left'
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: res.branchs,
                                axisPointer: {
                                    type: 'shadow'
                                },
                                axisLabel: {
                                    interval:0,
                                    rotate:40
                                },
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                name: '金额',
                                min: 0,
                                axisLabel: {
                                    formatter: '{value} '
                                }
                            }
                        ],
                        series: [
                            {
                                name: '报名金额',
                                type: 'bar',
                                data: res.sign_price,
                                color: ['#FF83FA'],
                                barWidth : 30,//柱图宽度
                            },
                            {
                                name: '续费金额',
                                type: 'bar',
                                data: res.renew_price,
                                color: ['#FF7F00'],
                                barWidth : 30,//柱图宽度
                            },
                            {
                                name: '总金额',
                                type: 'line',
                                data: res.total_price,
                            },
                        ]
                    };
                    myChart1.setOption(option1);
                    myChart2.setOption(option2);
                })
            })
        }

    })

</script>
{/block}
