@charset "utf-8";

/* reset */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
    margin: 0;
    padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details,
video {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: center;
    font-weight: normal;
}

html,
body,
fieldset,
img,
iframe,
abbr {
    border: 0;
}

i,
cite,
em,
var,
address,
dfn {
    font-style: normal;
}

a,
[hidefocus],
summary {
    outline: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
    font-size: 100%;
}

textarea {
    overflow: auto;
    resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong {
    font-weight: normal;
}

ins,
u,
s,
a,
a:hover {
    text-decoration: none;
}

body,
textarea,
input,
button,
select,
keygen,
legend {
    font: 14px/1.5 Tahoma, Arial, "Microsoft Yahei";
    color: black;
    outline: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    min-width: 320px;
    position: relative;
    /* background: black; */
}

img {
    display: block;
    max-width: 100%;
    vertical-align: middle;
    transition: all .3s linear;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* page css begin */

html {
    font-size: 10px;
}

html,
body {
    height: 100%;
}
body.index{
     overflow: hidden;
}
.container {
    height: 100%;
    position: relative;
    transition: all 1s linear;
}

.page {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.p1 {
    background: url(../images/bg.png) no-repeat;
    background-size: 100% 100%;
}

.slide {
    position: absolute;
    left: 50%;
    margin-left: -2rem;
    width: 4rem;
    height: 4rem;
    background: #79af88;
    border-radius: 50%;
    opacity: .8;
}

.slide:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -.6rem;
    width: 1.2rem;
    height: 1.2rem;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.slide.up {
    top: 1.5rem;
}

.slide.up:after {
    margin-top: -.3rem;
    transform: rotate(-135deg);
}

.slide.down {
    bottom: 3.8rem;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.slide.down:after {
    margin-top: -.9rem;
    transform: rotate(45deg);
}

.p2 {
    padding-top: 6.5rem;
    background: url(../images/bg-p2-p3.jpg) no-repeat;
    background-size: 100% 100%;
}

.p2 p {
    font-size: 1.4rem;
    color: #1e7f5e;
    text-align: center;
}

.gift {
    margin: 1rem auto;
    width: 80%;
}

.form_div {
    padding: 20px 15px;
}

.form_div h3 {
    font-size: 20px;
    color: #076dc1;
    text-align: center;
}

.form_div p {
    color: #333;
    font-size: 14px;
    padding: 20px 0;
}

form {
    font-size: 16px;
    padding: 30px 0;
    border-top: dashed 1px #ccc;
}

form label {
    display: flex;
    align-items: center;
}

form label img {
    width: 20px;
}

.input_div {
    display: flex;
    align-items: center;
    border: solid 1px #ccc;
    padding: 0 0 0 10px;
    margin: 10px 0 0;
}

.input_item {
    padding: 0 0 20px 0;
}

.input_div img {
    width: 20px;
}

.input_div input {
    width: 100%;
    height: 46px;
    padding-left: 10px;
    border: none;
    outline: none;
}

.input_radio {
    display: flex;
    align-items: center;
    padding: 10px 0 0 15px;
}

.input_radio input {
    width: 20px;
    height: 20px;
}

.input_radio label {
    padding: 0 20px 0 5px;
}

.input_item select {
    width: 100%;
    height: 46px;
    border: none;
}

.input_file {
    padding: 10px 0 0;
}

.btn {
    width: 100%;
    padding: 12px 0;
    background: #076dc1;
    color: #fff;
    font-size: 16px;
}


/********************* animation active *********************/

.container.to-p2 {
    transform: translate3d(0, -100%, 0);
}


/* media for ip4 */

@media only screen and (device-height:480px) and (-webkit-min-device-pixel-ratio:2) {
    html {
        font-size: 8px;
    }
    .gift {
        margin-top: 0;
        width: 61%;
    }
}


/* media for ip5 */

@media only screen and (device-height:568px) and (-webkit-min-device-pixel-ratio:2) {
    html {
        font-size: 10px;
    }
}


/* media for ip6 and plus */

@media only screen and (min-device-height:667px) and (-webkit-min-device-pixel-ratio:2) {
    html {
        font-size: 12px;
    }
}