{extend name="admin@public/content"}

{block name="button"}
<a data-open='{:url("$classuri/index")}' class='layui-btn layui-btn-primary'><i
        class='fa fa-backward'></i> 返回
</a>
{/block}

{block name="content"}
<form class="layui-form layui-box form-horizontal" action="{:request()->url()}" data-auto="true" method="post"
      onsubmit="return false;">
    <div class="layui-form-item">
        <label class="layui-form-label">APP</label>
        <div class="layui-input-block">
            <select name='app_id' class='layui-select full-width' style='display:none'>
                <option value="0">共用</option>
                {foreach $apps as $k => $v}
                {eq name='vo.app_id' value='$k'}
                <option value="{$k}" selected="selected">{$v}</option>
                {else}
                <option value="{$k}">{$v}</option>
                {/eq}
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" value='{$vo.title|default=""}' required="required" title="请输入标题"
                   placeholder="请输入标题" class="layui-input">
        </div>
    </div>
    {:getSelectList($menus,'catid','id','name','选择类型',$vo.catid,true)}

    <div class="layui-form-item">
        <label class="layui-form-label">内容</label>
        <div class='layui-input-block'>
            <textarea name="content">{$vo.content|default=''|raw}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">标题图</label>
        <div class="layui-input-block">
            <img data-tips-image style="height:auto;max-height:32px;min-width:32px" src="{$vo.thumb}"/>
            <input type="hidden" name="thumb" onchange="$(this).prev('img').attr('src', this.value)"
                   value="{$vo.thumb}" class="layui-input">
            <a class="btn btn-link" data-file="one" data-type="jpg,png,gif" data-field="thumb">上传图片</a>
        </div>
    </div>



    <div class="layui-form-item">
        <label class="layui-form-label">外部链接</label>
        <div class="layui-input-block">
            <input type="url" name="link" placeholder="请输入外部链接" value="{$vo.link|default=''}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            {eq name='vo.status' value='99'}
            <input type="checkbox" checked="checked" name="status" lay-skin="switch" lay-text="ON|OFF" style="display: none!important;">
            {else}
            <input type="checkbox" name="status" lay-skin="switch" lay-text="ON|OFF" style="display: none!important;">
            {/eq}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="number" name="sort" title="请输入排序" placeholder="请输入排序" value="{$vo.sort|default='10'}"
                   class="layui-input">
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'/>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
    </div>
    <script>
        /*! 实例富文本编辑器  */
        require(['ckeditor'], function () {
            window.createEditor('[name="content"]', {height: 300});
        });
        window.form.render();
    </script>
</form>
{/block}
