
<div class="layui-tab layui-tab-card">
    <!--表单start-->
    <div style="padding: 15px;">

        <form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">

            <div class="layui-form-item">
                <label class="layui-form-label">优惠券主题</label>
                <div class="layui-input-block">
                    <input type="text" name="activity_title" value='{$vo.title|default=""}' required="required" title="请输入活动主题"
                           placeholder="请输入活动主题" class="layui-input" maxlength="20" ng-model="activity_title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label layui-form-label">
                    优惠券主题图
                </label>
                <div class='col-sm-10'>
                    <img data-tips-image style="height:auto;max-height:32px;min-width:32px" src="{$vo.activity_theme_img|default=''}"/>
                    <input type="hidden" name="activity_theme_img" onchange="$(this).prev('img').attr('src', this.value)"
                           value="{$vo.activity_theme_img|default=''}" class="layui-input" required>
                    <a class="btn btn-link" data-file="one" data-uptype="local" data-type="jpg,png,jpeg"
                       data-field="activity_theme_img">上传图片</a>
                    <p class="help-block">建议上传尺寸为206x60px（格式暂定）</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label layui-form-label">
                    优惠券领取图
                </label>
                <div class='col-sm-10'>
                    <img data-tips-image style="height:auto;max-height:32px;min-width:32px" src="{$vo.activity_img|default=''}"/>
                    <input type="hidden" name="activity_img" onchange="$(this).prev('img').attr('src', this.value)"
                           value="{$vo.activity_img|default=''}" class="layui-input" required>
                    <a class="btn btn-link" data-file="one" data-uptype="local" data-type="jpg,png,jpeg"
                       data-field="activity_img">上传图片</a>
                    <p class="help-block">建议上传尺寸为206x60px（格式暂定）</p>
                </div>
            </div>
<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">活动举办校区</label>-->
<!--                <div class="layui-input-block">-->
<!--                    <input type="checkbox" name="school_id" value="0" title="全部校区" checked="" style="display: none !important;" required lay-filter="status">-->
<!--                    {php}$school = get_branches();{/php}-->
<!--                    {foreach $school as $key => $item}-->
<!--                    <input type="checkbox" name="school_id" value="{$key}" title="{$item}" style="display: none !important;" required lay-filter="status">-->
<!--                    {/foreach}-->
<!--                </div>-->
<!--            </div>-->
            <div class="layui-form-item">
                <label class="layui-form-label">活动时间</label>
                <div class="layui-input-block">
                    <input required type="text" class="layui-input" name="activity_time" id="activity_time" placeholder=""
                           value="{if isset($vo.beg_time)}{$vo.beg_time|format_date} ~ {$vo.end_time|format_date}{else}{/if}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">优惠券发放量</label>
                <div class="layui-input-inline" style="width: 33%">
                    <input type="number" name="coupon_num" value='{$vo.activity_num|default="1"}' title="请输入活动优惠券发放量"
                           placeholder="请输入活动优惠券发放量" class="layui-input">
                </div>
                <label class="layui-form-label">优惠券面额</label>
                <div class="layui-input-inline" style="width: 33%">
                    <input type="number" name="coupon_price" value='{$vo.single_amount|default="0"}' title="请输入活动优惠券面额"
                           placeholder="请输入活动优惠券面额" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户最多可领</label>
                <div class="layui-input-inline" style="width: 33%">
                    <input type="number" name="user_coupon_limit_num" value='{if isset($vo.activity_rule)}{:json_decode($vo.activity_rule, 1)["user_coupon_limit_num"]}{else}1{/if}' title="用户单次优惠券活动最多领取张数"
                           placeholder="用户单次优惠券活动最多领取张数" class="layui-input">
                </div>
                <label class="layui-form-label" style="width: 100px">消费满减限额</label>
                <div class="layui-input-inline" style="width: 33%">
                    <input type="number" name="max_money_limit" value='{if isset($vo.activity_rule)}{:json_decode($vo.activity_rule, 1)["full_reducation"]}{else}0{/if}' title="用户消费金额满多少元优惠券可抵用"
                           placeholder="用户消费金额满多少元优惠券可抵用" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">优惠券有效期</label>
                <div class="layui-input-block">
                    {if (isset($vo.activity_rule) && json_decode($vo.activity_rule, 1)["term_of_validity"] == 1)}
                    <input type="radio" name="term_of_validity" value="1" title="永久可用" checked="" style="display: none !important;">
                    <input type="radio" name="term_of_validity" value="2" title="活动期可用" style="display: none !important;">
                    {elseif (isset($vo.activity_rule) && json_decode($vo.activity_rule, 1)["term_of_validity"] == 2)}
                    <input type="radio" name="term_of_validity" value="1" title="永久可用" style="display: none !important;">
                    <input type="radio" name="term_of_validity" value="2" title="活动期可用" checked style="display: none !important;">
                    {else /}
                    <input type="radio" name="term_of_validity" value="1" title="永久可用" checked="" style="display: none !important;">
                    <input type="radio" name="term_of_validity" value="2" title="活动期可用" style="display: none !important;">
                    {/if}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">活动规则说明</label>
                <div class="layui-input-block">
                    <textarea class="weui-textarea" name="rule_detail" placeholder="优惠券使用条件" cols="100" rows="3">{$vo.rule_detail|default=""}</textarea>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <input type="hidden" name="created_at" value="{:time()}">
            <div class="layui-form-item text-center">
                {if isset($vo['id'])}
                <input type='hidden' value='{$vo.id}' name='id'>
                {else}
                <input type="hidden" name="created_at" value="{:time()}">
                {/if}
                <button class="layui-btn" type='submit'>保存</button>
                <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消吗？" data-close>取消</button>
            </div>
            <script>
                window.form.render();
            </script>

        </form>

    </div>

<!--    <div style="padding: 15px; text-align: center" class="col-md-6" ng-app="ClassForm">-->
<!--        同步显示页面效果待开发-->
<!--        <p>{{name}}</p>-->
<!--    </div>-->
</div>
<script>
    $(function () {
        require(['angular'], function () {
            var app = angular.module('ClassForm', []);
            console.log(app)
            app.controller('form', function ($scope) {
                console.log(111)
                $scope.name = 'dafads';
            })
        })
    })

    layui.use('laydate', function() {
        var laydate = layui.laydate;
        laydate.render({
            range: '~',
            elem: '#activity_time',
            value: ''
        });
    })
</script>