<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="/static/plugs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/plugs/layui/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/temp/wxxcx/css/style.css">

    <script src="/static/plugs/jquery/jquery.min.js"></script>
    <title>从我出发，认识世界</title>
</head>
<body>
<div class="ad_top">
    <img src="/static/temp/wxxcx/images/personal/ad_top.png" alt="">
    <div class="h4">
        从我出发，认识世界
    </div>
    <div class="city">
        <span>城市：西安</span>
        <span style="float:right;">EA国际教育</span>
    </div>
</div>
<div class="ad_content">
    <div class="introduce">
        <span>加拿大EA国际教育集团（EA Education Group Inc. Canada）创立于1990年，总部设在加拿大安大略省多伦多市。</span>
    </div>
    <div class="title">
        <span>公司背景</span>
    </div>
    <div class="ad_neirong">
        加拿大EA国际教育集团引进加拿大先进的教学模式、课程和师资，提出“在生活中学习，在学习中生活”的教育理念，让学生在轻松愉悦的学习氛围中学到更多知识和生活技能，为青少年提供国际化的教育，为以后的留学和工作打下坚实的基础。
        <img src="/static/temp/wxxcx/images/personal/ad_middle1.png" alt="">
    </div>
    <div class="title">
        <span>公馆介绍</span>
    </div>
    <div class="ad_neirong">
        EA国际公馆（EA International Youth Exclusive）始创于2012年，是由加拿大EA国际教育集团联合加拿大多伦多教育局等多所知名公立教育局以及ALBERT
        COLLEGE等合作学校在中国投资兴办的国际文化教育机构，旨在培养国际化的精英人才。
        <img src="/static/temp/wxxcx/images/personal/ad_middle2.png" alt="">
    </div>
    <div class="title">
        <span>教学概述</span>
    </div>
    <div class="ad_neirong">
        ESL即English as a Second
        Language，也就是“让英语成为你的第二语言”，能够与以英语为母语的人士零障碍沟通是EA国际公馆ESL课程的教学目标。其中文译名“让英语成为你的第二语言”，更是该套ESL课程的终极教学目标！
        <img src="/static/temp/wxxcx/images/personal/ad_middle3.png" alt="">
    </div>
    <div class="introduce">
        <span>集团秉持着“让更多中国孩子成为全球化人才”的理念，开设并运营EA国际公馆，积极推广加拿大先进的教育理念。</span>
    </div>

</div>
<div class="about_us">
    <!--<div class="connect">-->
        <!--<img src="/static/temp/wxxcx/images/personal/share.png" alt="">-->
        <!--<img src="/static/temp/wxxcx/images/personal/like.png" alt="">-->
        <!--<img src="/static/temp/wxxcx/images/personal/phone.png" alt="">-->
    <!--</div>-->
    <div class="logo">
        <img src="/static/temp/wxxcx/images/personal/logo.png" alt="">
    </div>
</div>
<!--<div class="text-with-hr">-->
    <!--<span>猜你喜欢</span>-->
<!--</div>-->
<!--<div>-->
    <!--<ul class="link">-->
        <!--<li class="item">-->
            <!--<div class="left_img">-->
                <!--<img class="" src="/static/temp/wxxcx/images/personal/link_1.png">-->
            <!--</div>-->
            <!--<div class="right_desc">-->
                <!--<span class="link_title"><strong>与海外名师面对面学习</strong></span>-->
                <!--<div style="height: 10px;"></div>-->
                <!--<p class="link_content">实现英语无缝交流与学习</p>-->
                <!--<div style="height: 20px;"></div>-->
                <!--<p class="link_jigou">EA</p>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="item">-->
            <!--<div class="left_img">-->
                <!--<img class="" src="/static/temp/wxxcx/images/personal/link_2.png">-->
            <!--</div>-->
            <!--<div class="right_desc">-->
                <!--<span class="link_title"><strong>优秀是一种习惯，要习惯优...</strong></span>-->
                <!--<div style="height: 10px;"></div>-->
                <!--<p class="link_content">机会留给准备好了的人</p>-->
                <!--<div style="height: 20px;"></div>-->
                <!--<p class="link_jigou">EA</p>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="item">-->
            <!--<div class="left_img">-->
                <!--<img class="" src="/static/temp/wxxcx/images/personal/link_3.png">-->
            <!--</div>-->
            <!--<div class="right_desc">-->
                <!--<span class="link_title"><strong>学习，不怕从零开始，只怕...</strong></span>-->
                <!--<div style="height: 10px;"></div>-->
                <!--<p class="link_content">让我们赢在起跑线上</p>-->
                <!--<div style="height: 20px;"></div>-->
                <!--<p class="link_jigou">EA</p>-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
</body>
</html>