<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">
    {if $Think.get.hidden_filter != 1}
    <div class="layui-form-item">
        <label class="layui-form-label">上级菜单</label>
        <div class="layui-input-block">
            <select name='top_id' class='layui-select full-width' lay-ignore required>
                <!--{foreach $top_categories as $k => $v}-->
                <!--{eq name='k' value='$vo.top_id|default=$Think.get.top_id'}-->
                <option selected value='{$k}'>{$v}</option>
                <!--{else}-->
                <option value='{$k}'>{$v}</option>
                <!--{/eq}-->
                <!--{/foreach}-->
            </select>
        </div>
    </div>
    {else}
    <input type="hidden" name="top_id" value="{$Think.get.top_id}">
    {/if}

    <div class="layui-form-item">
        <label class="layui-form-label">类目</label>
        <div class="layui-input-block">
            <input type="text" name="title" value='{$vo.title|default=""}' required="required" title="请输入类目名称"
                   placeholder="请输入类目名称" class="layui-input">
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}
        <input type='hidden' value='{$vo.id}' name='id'>
        {else}
        <input type="hidden" name="created_at" value="{:time()}">
        {/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>

    </script>

</form>
