{extend name='home@public/content'} {block name="content"}

<!-- Home Start -->
<div class="M-home row" style="margin-bottom: 100px!important;">
    <div class="video-module" node-type="video-clear">
        <div class="video-body">
            <div class="pic-wrapper" node-type="video-container">
                {foreach $banner1 as $k=>$v} {if $k == 0}
                <div class="picbox" style="display: block;">
                    <div class="text">
                        <img src="{$v['thumb']}">
                    </div>
                </div>
                {else/}
                <div class="picbox" style="display: none;">
                    <div class="text">
                        <img src="{$v['thumb']}">
                    </div>
                </div>
                {/if}
                <!--                <div class="picbox" style="display: none;">-->
                <!--                    <div class="text">-->
                <!--                        <img src="{$v['thumb']}">-->
                <!--                    </div>-->
                <!--                </div>-->
                {/foreach}
            </div>
        </div>
        <!-- banner导航栏开始 -->
        <div class="video-nav">

            {:htmlspecialchars_decode($nav_text)}
        </div>
        <!-- banner导航栏结束 -->
    </div>
    <div class="feature-content">
        <h3>三大课程体系</h3>
        <ul class="clearfix">
            {foreach $content as $k1=>$v1}
            <li class="first-child">
                <a href="{$v1['link']}" target="_blank">
                    <div class="icon">
                        <img src="{$v1['thumb']}">
                    </div>
                    <div class="gray"></div>
                    <div class="content">
                        <h2>{$v1['title']}</h2>
                        <div class="line"></div>
                        <p>{$v1['content']|raw}</p>
                        <button>详情</button>
                    </div>
                </a>
            </li>
            {/foreach}

        </ul>
    </div>
    <div class="container abroadCenter">
        <h3 class="title">一站式留学成长规划中心</h3>
        <div class="abroad-text">
            <div class="abroad-img">
                <img src="/static/home/images/1-1FS111261U36.jpg" alt="">
            </div>
            <div class="abroad-right">
                <h2>深度助学 独E无二</h2>
                <h3>目标北美世界名校，<br/>打造留学前中后一站式服务。</h3>
                <a href="{:url('studyAbroad')}">了解更多</a>
            </div>
        </div>

    </div>
    <div class="container faculty">
        <h3>EA国际教育师资力量</h3>
        <div class="owl-carousel owl-theme">
            {foreach $teachers as $k2=>$v2}
            <!-- <a href="{:url('teacherList')}"><img src="{$v2['thumb']}" alt=""></a> -->
            <div class="teacher">
                <img src="{$v2['thumb']}" alt="">
                <div class="teacher-intro">
                    <p>{:htmlspecialchars_decode($v2['content'])}</p>
                </div>
                <div class="gray_bg"></div>
            </div>

            {/foreach}
        </div>
    </div>

</div>


<div class="play-box">
    <div class="video-body">
        <video id="orginal-video" src="" width="960" height="540" controls="" autoplay=""></video>
    </div>
    <a href="javascript:void(0);" class="close"></a>
</div>
<div class="gray-bg" style="background-color:#000000;"></div>


<!-- Footer Start -->
{/block}