<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网络直播下载</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/plugs/jquery-weui/lib/weui.min.css">
    <link rel="stylesheet" href="/static/plugs/jquery-weui/css/jquery-weui.min.css">
</head>
<body ontouchstart>
<div class="weui-msg">
    <div class="weui-msg__icon-area">
        <i class="weui-icon-info weui-icon_msg"></i>
    </div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title"><a class="weui-btn weui-btn_primary" href="/static/upload/CCClassroom_5.1.6.apk" style="color: white">直播课堂下载</a></h2>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
        </p>
    </div>
</div>
<script src="/static/plugs/jquery-weui/lib/fastclick.js"></script>
<script src="/static/plugs/jquery-weui/lib/jquery-2.1.4.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body)
    });
</script>
</body>
</html>