{extend name='admin@public/content'}


{block name="button"}
<!--{if auth("$classuri/add") && in_array(session('user.authorize'), [1,3,4])}-->
<button data-modal='{:url("$classuri/add")}'
        data-title="添加转介绍活动"
        class='layui-btn layui-btn-sm layui-btn-primary'>添加活动
</button>
<!--{/if}-->
<!--{if auth("$classuri/del") && in_array(session('user.authorize'), [1,3,4])}-->
<button data-update data-field='delete' data-action='{:url("$classuri/del")}'
        class='layui-btn layui-btn-sm layui-btn-primary'>删除活动
</button>
<!--{/if}-->
{/block}


{block name="content"}

<!-- 表单搜索 开始 -->
<style>.layui-layer-lan .layui-layer-title {
    background: #eee;
    color: #000;
}</style>
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">活动标题</label>
        <div class="layui-input-inline">
            <input name="title" value="{$Think.get.title|default=''}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>

<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    <!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <input type="hidden" value="resort" name="action">
    <div class="table-responsive">
        <table id="test" class="layui-table" lay-skin="line">
            <thead>
            <tr>
                <th class='list-table-check-td'>
                    <input data-auto-none="" data-check-target='.list-check-box' type='checkbox'>
                </th>
                <th class="text-center nowrap">编号</th>
                <th class='text-center nowrap'>标题</th>
                <th class="text-center nowrap">描述</th>
                <th class='text-center nowrap'>状态</th>
                <th class="text-center nowrap">发布时间</th>
                <th class="text-center nowrap">操作</th>
            </tr>
            </thead>
            <tbody>
            <!--{foreach $list as $key=>$vo}-->
            <tr>
                <td class='list-table-check-td'>
                    <input class="list-check-box" value='{$vo.id}' type='checkbox'>
                </td>
                <td class="text-center">{$vo.id}</td>
                <td class="text-center">
                    {$vo.title}
                </td>
                <td class="text-center nowrap">{$vo.content}</td>
                <td class="text-center nowrap">{$vo.status| convert_category=8|raw}</td>
                <td class="text-center nowrap">{$vo.created_at|date='Y-m-d H:m:s'}</td>
                <td class="text-nowrap text-center">
                    {if auth("$classuri/prize")}
                    <span class="text-explode">|</span>
                    <a data-iframe='admin/index/fragment.html#{:url("$classuri/prize")}?id={$vo.id}' data-title="完成名单">完成名单</a>
                    {/if}
                    {if auth("$classuri/edit")}
                    <span class="text-explode">|</span>
                    <a data-modal='{:url("$classuri/edit")}?id={$vo.id}'>修改活动</a>
                    {/if}
                    {if auth("$classuri/del")}
                    <span class="text-explode">|</span>
                    <a data-update="{$vo.id}" data-field='delete'
                       data-action='{:url("$classuri/del")}?id={$vo.id}'>删除</a>
                    {/if}
                </td>
            </tr>
            <!--{/foreach}-->
            </tbody>
        </table>
    </div>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
</form>
{/block}