<style>
    .layui-layer-page .layui-layer-content {
        overflow: visible;
    }
</style>
<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">分配人员</label>
        <div class="layui-input-block">
            <select name="tel_user" class="input-sm form-control" required="required" title="请输入类目名称"  placeholder="请输入类目名称" >

                <option value="">--选择销售(CC)--</option>
                    {volist name="electricpiners" id="vo"}
                    {if $vo.authorize == '11' || $vo.authorize == '9' || $vo.authorize == '5'}
                    <option value="{$vo.authorize}-{$vo.userid}"> {$vo.name}</option>
                    {/if}
                    {/volist}
            </select>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        <button class="layui-btn" type="submit">保存分配</button>
        <button class="layui-btn layui-btn-danger" type="button" data-confirm="确定要取消编辑吗？" data-close="">取消编辑</button>
    </div>
        <script>
            window.form.render();
        </script>
</form>
