{extend name='shop@public/main'}
{block name="style"}
    <style>
        #title{display: inline-block; background: #1b3864; width: 91%; text-align: center; height: 38px;
            border: 1px #112852 solid;position: absolute;bottom: 14px;left: 7px;opacity: 0.9;padding: 3px 0;}
        #title span {display: block; color: #fff;}
        #title #sub{font-size: 12px; margin: 2px 0;}
        .header{background: #002458;}
        .header h1{color: #fff;padding: 0 1rem; font-size: 17px;line-height: 2.2rem;}
        #product_sort ul li{width: 23.5%;}
    </style>
{/block}
{block name="body"}
<header class="header">
    <a href="javascript:history.back();" class="back"></a>
    <h1><em style="color: #fff;">在线选课</em></h1>
</header>
<section class="_pre" style="margin-bottom: 12%;">
    <section class="filtrate_term" id="product_sort" dd_name="商品排序">
        <ul style="text-align: center;">
            {foreach $cate as $key=>$vo}
            <li class="{if $vo.id == $on}on{/if}">
                <a href="{:url('shop/product/index')}?cate={$vo.id}" name="list_sort_index">{$vo.cate_title}</a>
            </li>
            {/foreach}
        </ul>
    </section>
    <!-- result -->
    <section class="goods_list" id="goods_list" name="goods_list" dd_name="商品列表">
        <input type="hidden" value="0" id="scrolltop" name="scrolltop">
        <div class="clearfix">
            {if !empty($list)}
            <ul class="clearfix p_left" style="width: 100%">
                {foreach $list as $key=>$vo}
                <li style="width: 49%;">
                    <div>
                        <a href="{:url('shop/product/detail')}?id={$vo.id}" name="product_item" dd_name="商品">
                            <p class="img">
                                <img onerror="error_img(this)" src="{$vo.goods_logo}" alt="" style="-webkit-transform-origin: 0px 0px; opacity: 1; -webkit-transform: scale(1, 1);">
                            </p>
                            {if empty($vo.goods_subtitle)}
                            <p id="title" style="line-height: 38px;">
                                <span id="main">{$vo.goods_title}</span>
                            </p>
                            {else /}
                            <p id="title">
                                <span id="main">{$vo.goods_title}</span>
                                <span id="sub">{$vo.goods_subtitle}</span>
                            </p>
                            {/if}
                        </a>
                    </div>
                </li>
                {/foreach}
            </ul>
           <!-- <section class="load">
                <div><span style="">上一页</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="">下一页</span></div>
            </section>-->
            {else /}
            <p style="text-align: center; margin-top: 10px">--暂无课程--</p>
            {/if}
        </div>
    </section>
    <!-- 加载更多 -->
    <input type="hidden" id="curr_page" value="2">

</section>

{include file='public:footer'}
<script src="/static/home/shop/js/product/zepto.min.js"></script>
<script src="/static/home/shop/js/product/fx.min.js"></script>
<script src="/static/home/shop/js/product/fx_methods.min.js"></script>
<script src="/static/home/shop/js/product/zepto.lazyload.min.js"></script>
<script src="/static/home/shop/js/product/zepto.cookie.min.js"></script>
<script src="/static/home/shop/js/product/common.min.js"></script>
<script src="/static/home/shop/js/product/search.min.js"></script>
<script src="/static/home/shop/js/product/filter.min.js"></script>
<script src="/static/home/shop/js/product/mix_suggest.min.js"></script>
<script src="/static/home/shop/js/product/js_tracker.js"></script>

{/block}
