<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>分享二维码,满5人得入场券</title>
    <link rel="stylesheet" href="/static/home/introduction/css/hui.css">

    <style>
       body{
           margin: 0;
           padding: 0;
           background-color: #662687;
       }
    </style>
</head>

<body>
<img style="width: 100%;height:100vh;margin-bottom: -4px;" src="/{$image}">
<script type="text/javascript">
    window.onload = function(){
        alert("专属二维码已生成!长按分享并邀请5人即可获得秒杀资格!");
    }
</script>
</body>
</html>