<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>二维码关注享史上最强双十一折扣</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #692a8c;
            font-size: 12px;
        }
        img {
            width: 100%;
            margin-top: -4px;
            margin-bottom: -2px;
        }
        .container {
            min-height: 100vh;
        }
        .f1 {
            position: absolute;
            left: 35%;
            bottom: 21%;
            width: 30%;
        }
    </style>
</head>

<body style="overflow-y:hidden">
<div class="container">
    <img style="min-height: 35vh" src="/static/home/introduction/images/t1_1.png">
    <img style="min-height: 36vh;" src="/static/home/introduction/images/t1_2.png">
    <img style="min-height: 30vh" src="/static/home/introduction/images/t1_3.png">
    <img class="f1" src="/static/home/introduction/images/ewm.png">
</div>
</body>
</html>
