<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>活动秒杀</title>
    <script src="/static/plugs/jquery/jquery.min.js"></script>
    <script src="/static/plugs/layer_mobile/layer.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>

    <style>
        body {
            margin: 0;
            padding: 0;
            font-size: 12px;
        }

        img {
            width: 100%;
            margin-top: -4px;
            margin-bottom: -2px;
        }

        .container {
            min-height: 100vh;
            background: url("/static/home/introduction/images/12_1.jpg");background-repeat:no-repeat; background-size:100% 100%;
        }

        .cutdown {
            position: absolute;
            left: 10%;
            bottom: 57%;
            font-size: 16px;
            font-weight: bold;
            color: #fff;;
        }

        .quality {
            width: 80%;
            left: 10.5%;
            position: absolute;
            bottom: 40%;
        }

        .elite {
            width: 80%;
            left: 10.5%;
            position: absolute;
            bottom: 26%;
        }

        .course {
            width: 80%;
            left: 10%;
            position: absolute;
            bottom: 15%;
        }

        .cutdown input {
            border: none;
        }
    </style>
</head>

<body style="overflow-y:hidden">
<div class="container">
    <div class="cutdown">
        <span>距离活动开始还有：</span>
        <span id="left_time">0天0小时0分钟0秒</span>
    </div>

    <div class="quality">
        <img id="quality" src="/static/home/introduction/images/a12_6.png">
    </div>
    <div class="elite">
        <img id="elite" src="/static/home/introduction/images/a12_5.png">
    </div>
    <div class="course">
        <img id="course" src="/static/home/introduction/images/a12_3.png">
    </div>
</div>
</body>
<script>
    $(function () {
        var now = Math.round(new Date().getTime() / 1000);
        var target = {$time};

        function countDown(times) {
            timer = setInterval(function () {
                var day = 0,
                    hour = 0,
                    minute = 0,
                    second = 0;//时间默认值
                if (times > 0) {
                    day = Math.floor(times / (60 * 60 * 24));
                    hour = Math.floor(times / (60 * 60)) - (day * 24);
                    minute = Math.floor(times / 60) - (day * 24 * 60) - (hour * 60);
                    second = Math.floor(times) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
                }
                if (day <= 9) day = '0' + day;
                if (hour <= 9) hour = '0' + hour;
                if (minute <= 9) minute = '0' + minute;
                if (second <= 9) second = '0' + second;
                //
                $("#left_time").html(day + "天" + hour + "小时" + minute + "分钟" + second + "秒");
                times--;
            }, 1000);
            if (times <= 0) {
                clearInterval(timer);
            }
        }

        countDown(target - now);

        var small_wx = window.__wxjs_environment === 'miniprogram' ||
            wx.miniProgram.getEnv(function (res) {
                small_wx = res.miniprogram;
            });
        $("#quality").on('click', function () {
            var price = {$quality_price};
            var now2 = Math.round(new Date().getTime() / 1000);
            if (target - now2 > 0) {
                layer.open({
                    content: '活动即将开始，请耐心等待',
                    btn: '好的'
                });
                return false;
            } else {
                $.post('/api/v1/Shows/is_full', {
                    openid: getQueryVariable('openid'),
                    title: '双十二素质课'
                }, function (res) {
                    if (res == 0) {
                        layer.open({
                            content: '<b style="font-size: 18px">' + '秒杀已结束' + '<br>' + '感谢您的参与' + '</b>',
                            btn: '抱歉',
                            style: 'background-color:#fbc000; color:#000;' //自定风格
                        });
                        return false;
                    } else {
                        $.post('/api/v1/Shows/getcusbyxcxopenid', {
                            openid: getQueryVariable('openid')
                        }, function (res) {
                            if (!res) {
                                layer.open({
                                    content: getQueryVariable('openid'),
                                    btn: '好的',
                                    yes: function () {
                                        layer.closeAll();
                                    }
                                });
                                return false;
                            } else {
                                //var return_url = '{:url("home/introduction/success_get")}?actid=' + 1111 + '&uid=' + res.data.id;
                                layer.open({
                                    type: 2
                                    , content: '正在抢购，请稍后……'
                                });
                                //判断是否是在wx小程序环境
                                if (small_wx) {
                                    $.post('/api2/xiaochengxu/wechatPay', {
                                        total_fee: price,
                                        openid: getQueryVariable('openid'),
                                        mobile: res.parent_tel,
                                        body: '双十二素质课',
                                        actid: 1212
                                    }, function (response) {
                                        var data = JSON.parse(response);
                                        if (data.success) {
                                            //点击微信支付后，调取统一下单接口生成微信小程序支付需要的支付参数
                                            var params = '?timestamp=' + data.data.timeStamp + '&nonceStr=' + data.data.nonceStr + '&' + data.data.package + '&signType=' + data.data.signType + '&paySign=' + data.data.paySign;
                                            //定义path 与小程序的支付页面的路径相对应
                                            var path = new Object();
                                            path.url = "../wxpay/wxpay" + params;
                                            //通过JSSDK的api使小程序跳转到指定的小程序页面
                                            wx.miniProgram.navigateTo(path);
                                        }
                                    });
                                } else {
                                    setTimeout(function () {
                                        var title = $('title').html();
                                        window.location.href = '/wechat/pay.show/index.html?' + 'aid=' + 1111 + '&cid=' + res.data.id + '&title=' + title
                                            + "&body=" + title + '&price=' + price + "&cus_num=1" + '&return_url=' + encodeURIComponent(return_url);
                                    }, 3000)
                                }
                            }
                        });
                    }
                });
            }
        });

        $('#elite').click(function () {
            var price = {$elite_price};
            var now2 = Math.round(new Date().getTime() / 1000);
            if (target - now2 > 0) {
                layer.open({
                    content: '活动即将开始，请耐心等待',
                    btn: '好的'
                });
                return false;
            } else {
                $.post('/api/v1/Shows/is_full', {
                    openid: getQueryVariable('openid'),
                    title: '双十二菁英课'
                }, function (res) {
                    if (res == 0) {
                        layer.open({
                            content: '<b style="font-size: 18px">' + '秒杀已结束' + '<br>' + '感谢您的参与' + '</b>',
                            btn: '抱歉',
                            style: 'background-color:#fbc000; color:#000;' //自定风格
                        });
                        return false;
                    } else {
                        $.post('/api/v1/Shows/getcusbyxcxopenid', {
                            openid: getQueryVariable('openid')
                        }, function (res) {
                            if (!res) {
                                layer.open({
                                    content: getQueryVariable('openid'),
                                    btn: '好的',
                                    yes: function () {
                                        layer.closeAll();
                                    }
                                });
                                return false;
                            } else {
                                //var return_url = '{:url("home/introduction/success_get")}?actid=' + 1111 + '&uid=' + res.data.id;
                                layer.open({
                                    type: 2
                                    , content: '正在抢购，请稍后……'
                                });
                                //判断是否是在wx小程序环境
                                if (small_wx) {
                                    $.post('/api2/xiaochengxu/wechatPay', {
                                        total_fee: price,
                                        openid: getQueryVariable('openid'),
                                        mobile: res.parent_tel,
                                        body: '双十二菁英课',
                                        actid: 1212
                                    }, function (response) {
                                        var data = JSON.parse(response);
                                        if (data.success) {
                                            //点击微信支付后，调取统一下单接口生成微信小程序支付需要的支付参数
                                            var params = '?timestamp=' + data.data.timeStamp + '&nonceStr=' + data.data.nonceStr + '&' + data.data.package + '&signType=' + data.data.signType + '&paySign=' + data.data.paySign;
                                            //定义path 与小程序的支付页面的路径相对应
                                            var path = new Object();
                                            path.url = "../modal/index" + params;
                                            //通过JSSDK的api使小程序跳转到指定的小程序页面
                                            wx.miniProgram.navigateTo(path);
                                        }
                                    });
                                } else {
                                    setTimeout(function () {
                                        var title = $('title').html();
                                        window.location.href = '/wechat/pay.show/index.html?' + 'aid=' + 1111 + '&cid=' + res.data.id + '&title=' + title
                                            + "&body=" + title + '&price=' + price + "&cus_num=1" + '&return_url=' + encodeURIComponent(return_url);
                                    }, 3000)
                                }
                            }
                        });
                    }
                });
            }
        });

        $('#course').click(function () {
            //定义path 与小程序的支付页面的路径相对应
            var path = new Object();
            path.url = "../course/index";
            //通过JSSDK的api使小程序跳转到指定的小程序页面
            wx.miniProgram.navigateTo(path);
        });

        // 获取urlget到的值
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) {
                    return pair[1];
                }
            }
            return (false);
        }
    });
</script>
</html>