{extend name='admin@public/content'}

{block name="button"}
<!--{if auth("$classuri/add")}-->
<button data-modal='{:url("$classuri/add")}?hidden_filter={$Think.get.hidden_filter}'
        data-title="添加体验课"
        class='layui-btn layui-btn-sm layui-btn-primary'>添加体验课
</button>
<!--{/if}-->
<button data-update data-field='delete' data-action='{:url("$classuri/del")}?id={$Think.get.id}'
        class='layui-btn layui-btn-sm layui-btn-primary'>删除体验课
</button>
<!--{/if}-->
{/block}

{block name="content"}
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">选择时间</label>
        <div class="layui-input-inline">
            <input type="text" id="time_range" name="time_range" value="{$Think.get.time_range|default=''}"
                   placeholder="选择时间" autocomplete="off" class="input-sm form-control">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">老师</label>
        <div class="layui-input-inline">
            {:get_teacher_select('teacher_id',$Think.get.teacher_id, '', [],false)}
        </div>
    </div>

    {if in_array(session('user.authorize'),[1,3,4,22])}
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">校区</label>
        <div class="layui-input-inline">
            {:get_branches_select('branch', $Think.get.branch, '', [],false)}
        </div>
    </div>
    {/if}
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
<script>
    window.form.render();
    layui.use('laydate', function () {
        var laydate = layui.laydate
        laydate.render({
            elem: '#time_range',
            range: '~',
            theme: '#0099CC',
            format: 'yyyy-MM-dd',
            max: '<?= date("Y-m-d")?>',
        })
    })
</script>

<form onsubmit="return false;" data-auto="true" method="post">
    <!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <input type="hidden" value="resort" name="action">
    <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-check-td'>
                <input data-auto-none="" data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-center'>ID</th>
            <th class="text-center">课程名称</th>
            <th class="text-center">任课老师</th>
            <th class="text-center">上课开始时间</th>
            <th class="text-center">上课结束时间</th>
            <th class="text-center">教师获得课时</th>
            <th class="text-center">状态</th>
            <th class="text-center">创建时间</th>
            <th class="text-center">创建者</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <!--{foreach $list as $key=>$vo}-->
        <tr>
            <td class='list-table-check-td'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <th class="text-center">{$vo.id}</th>
            <td class="text-center text-nowrap"> <a data-open='{:url("$classuri/details")}?id={$vo.id}'>{$vo.course_id|get_courses_title}</a></td>
            <td class="text-center">{$vo.teacher_id|get_employee_name}</td>
            <td class="text-center">{$vo.begin_time|date='Y-m-d H:i:s'}</td>
            <td class="text-center">{$vo.end_time|date='Y-m-d H:i:s'}</td>
            <td class="text-center">{$vo.course_hour}</td>
            {if $vo.is_ok == 2}
            <td class="text-center color-blue">准备中</td>
            {elseif $vo.is_ok == 1}
            <td class="text-center color-green">已完成</td>
            {elseif $vo.is_ok == 3}
            <td class="text-center color-red">已取消</td>
            {/if}
            <td class="text-center nowrap">{$vo.created_at|date='Y-m-d H:i:s'}</td>
            <td class="text-center nowrap">{$vo.userid|get_employee_name2}</td>
            <td class="text-nowrap text-center">
                {if auth("$classuri/edit")}
                {if $vo.is_ok != 1}
                <span class="text-explode">|</span>
                <a data-title="编辑"
                   data-modal='{:url("$classuri/edit")}?id={$vo.id}'>编辑</a>
                {/if}
                {/if}
                {if auth("$classuri/del")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='delete'
                   data-action='{:url("$classuri/del")}?id={$vo.id}'>删除</a>
                {/if}
                {if auth("$classuri/add_student")}
                {if $vo.is_ok == 2}
                <span class="text-explode">|</span>
                <a
                   data-iframe='/admin/index/fragment.html#{:url("$classuri/add_student")}?top_id={$vo.id}' data-title="添加学员">添加学员</a>
                {/if}
                {/if}
                {if auth("$classuri/is_ok")}
                {if $vo.is_ok == 2}
                <span class="text-explode">|</span>
                    <a  data-update="{$vo.id}" data-field='update'
                        data-action='{:url("$classuri/is_ok")}?id={$vo.id}'><b>确认上课</b></a>
                {/if}
                {/if}
            </td>
        </tr>
        <!--{/foreach}-->
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
</form>
{/block}