{extend name='admin@public/content'}

{block name="button"}
<!--{if auth("$classuri/employee")}-->
<button data-open='{:url("$classuri/add")}' data-title="添加员工" class='layui-btn layui-btn-sm layui-btn-primary'>添加员工
</button>
<!--{/if}-->
<!--{if auth("$classuri/del")}-->
<button data-update data-field='delete' data-action='{:url("$classuri/del")}'
        class='layui-btn layui-btn-sm layui-btn-primary'>删除员工
</button>
<!--{/if}-->

<a href="{:request()->url()}&action=down"
   class='layui-btn layui-btn-sm '>导出记录
</a>
{/block}

{block name="content"}
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">
    {if in_array(session('user.authorize'),[1,3,4])}
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">校区</label>
        <div class="layui-input-inline">
            {:get_branches_select('branch', $Think.get.branch, '', [],false)}
        </div>
    </div>
    {/if}
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">关键字</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" value="{$Think.get.keyword|default=''}"  placeholder="请输入关键字" name="keyword">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">任职</label>
        <div class="layui-input-inline">
            {:get_authorizes_select_tree('', 'authorize', $Think.get.authorize,'',[],false)}
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">生日</label>
        <div class="layui-input-inline">
            <select name="birthday" id="birthday">
                <option value="" class="disabled">-- 请选择 --</option>
                <option value="day">今日生日</option>
                <option value="month">本月生日</option>
                <option value="next">下月生日</option>
            </select>
            <script>
                $(function () {
                    var birthday = '{$Think.get.birthday}';
                    $("select#birthday option[value='" + birthday + '\']').attr('selected', true)
                })
            </script>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
<script>
    window.form.render();
</script>


<form onsubmit="return false;" data-auto="true" method="post">
    <!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <input type="hidden" value="resort" name="action">
    <table id="test" class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-check-td'>
                <input data-auto-none="" data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-center nowrap'>姓名</th>
            <th class='text-center nowrap'>昵称</th>
            <th class='text-center nowrap'>联系电话</th>
            <th class='text-center nowrap'>生日</th>
            <th class='text-center nowrap'>系统状态</th>
            <th class='text-center nowrap'>人事状态</th>
            <th class='text-center nowrap'>合同状态</th>
            <th class='text-center nowrap'>所属校区</th>
            <th class='text-center nowrap'>职位</th>
            <th class='text-center nowrap'>员工卡号</th>
            <th class="text-center nowrap">操作</th>
        </tr>
        </thead>
        <tbody>
        <!--{foreach $list as $key=>$vo}-->
        <tr>
            <td class='list-table-check-td'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class="text-center nowrap">{$vo.name}</td>
            <td class="text-center nowrap">{$vo.english_name}</td>
            <td class="text-center nowrap">{$vo.mobile}</td>
            <td class="text-center nowrap">{$vo.birthday|format_date}</td>
            <td class="text-center nowrap">{if $vo.sys_status == 0}<p style="color: red">禁用</p>{else /}<p style="color: green">启用</p>{/if}</td>
            <td class="text-center nowrap">{$vo.personnel_status|convert_category=17|raw}</td>
            <td class="text-center nowrap">{$vo.contract_status|convert_category=21|raw}</td>
            <td class="text-center nowrap">{$vo.department|convert_branch}</td>
            <td class="text-center nowrap">{$vo.username}</td>
            <td class="text-center nowrap">
                {empty name="$vo.icard"}
                <a class="layui-btn layui-btn-xs layui-btn-danger" data-title="员工绑卡"
                   data-modal='{:url("employee/card")}?id={$vo.id}'>请绑卡</a>
                {else /}
                {$vo.icard}
                {/empty}
            </td>
            <td class="text-nowrap text-center nowrap">
                {if auth("$classuri/edit")}
                <span class="text-explode">|</span>
                <a data-title="编辑员工信息" data-open='{:url("$classuri/edit")}?id={$vo.id}'>编辑</a>
                {/if}
                {if $vo.sys_status eq 1}
                <span class="text-explode">|</span>
                <a data-update="{$vo.userid}" data-field='status' data-value='0' data-action='{:url("admin/user/forbid")}'
                   href="javascript:void(0)">禁用{$vo.sys_status}</a>
                {else if $vo.sys_status eq 0}
                <span class="text-explode">|</span>
                <a data-update="{$vo.userid}" data-field='status' data-value='1' data-action='{:url("admin/user/resume")}'
                   href="javascript:void(0)">启用{$vo.sys_status}</a>
                {/if}
                {if auth("$classuri/del")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}'>删除</a>
                {/if}
            </td>
        </tr>
        <!--{/foreach}-->
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
</form>
{/block}