{extend name="admin@public/content"}

{block name="content"}
<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post"
      class='form-horizontal layui-form padding-top-20'>

    <div class="form-group">
        <label class="col-sm-2 control-label label-required">
            短信类型
        </label>
        <div class='col-sm-8'>
            {foreach ['code'=>'验证码','other'=>'其他类型'] as $k=>$v}
            <label class="think-radio">
                <!--{if 'code' eq $k}-->
                <input checked type="radio" name="sms_type" value="{$k}" title="{$v}" lay-ignore>
                <!--{else}-->
                <input type="radio" name="sms_type" value="{$k}" title="{$v}" lay-ignore>
                <!--{/if}-->
                {$v}
            </label>
            {/foreach}
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    <div data-storage-type="code">
        <div class="form-group">
            <label class="col-sm-2 control-label">
                ApiGateway<br><span class="nowrap color-desc">接口地址</span>
            </label>
            <div class='col-sm-8'>
                <input type="text" name="sms_code_gateway" required="required"
                       value="{:sysconf('sms_code_gateway')}"
                       title="请输入接口地址" placeholder="请输入接口地址" class="layui-input">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                账号
            </label>
            <div class='col-sm-8'>
                <input type="text" name="sms_code_account" required="required"
                       value="{:sysconf('sms_code_account')}"
                       title="请输入接口账号" placeholder="请输入接口账号" class="layui-input">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                密码
            </label>
            <div class='col-sm-8'>
                <input type="text" name="sms_code_password" required="required"
                       value="{:sysconf('sms_code_password')}"
                       title="请输入接口密码" placeholder="请输入接口密码" class="layui-input">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                签名
            </label>
            <div class='col-sm-8'>
                <input type="text" name="sms_code_sign" required="required"
                       value="{:sysconf('sms_code_sign')}"
                       title="请输入短信签名" placeholder="请输入短信签名" class="layui-input">
            </div>
        </div>
    </div>
    <div data-storage-type="other">
        <div class="form-group">
            <label class="col-sm-2 control-label">
                ApiGateway<br><span class="nowrap color-desc">接口地址</span>
            </label>
            <div class='col-sm-8'>
                <input type="text" name="sms_other_gateway" required="required"
                       value="{:sysconf('sms_other_gateway')}"
                       title="请输入接口地址" placeholder="请输入接口地址" class="layui-input">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                账号
            </label>
            <div class='col-sm-8'>
                <input type="text" name="sms_other_account" required="required"
                       value="{:sysconf('sms_other_account')}"
                       title="请输入接口账号" placeholder="请输入接口账号" class="layui-input">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                密码
            </label>
            <div class='col-sm-8'>
                <input type="text" name="sms_other_password" required="required"
                       value="{:sysconf('sms_other_password')}"
                       title="请输入接口密码" placeholder="请输入接口密码" class="layui-input">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                签名
            </label>
            <div class='col-sm-8'>
                <input type="text" name="sms_other_sign" required="required"
                       value="{:sysconf('sms_other_sign')}"
                       title="请输入短信签名" placeholder="请输入短信签名" class="layui-input">
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="col-sm-4 col-sm-offset-3">
        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">保存配置</button>
        </div>
    </div>

</form>

<!----------测试---------->
<form onsubmit="return false;" action="{:url('admin/config/sms_test')}" data-auto="true" method="post"
      class='form-horizontal' style='padding-top:20px'>
    <div class="hr-line-dashed"></div>

    <div class="form-group">
        <label class="col-sm-2 control-label"><span class="nowrap">手机号码</span></label>
        <div class='col-sm-8'>
            <input type="text" name="mobile" required="required" title="请输入账号"
                   placeholder="请输入手机号码" value="" maxlength="11" class="layui-input">
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="col-sm-4 col-sm-offset-3">
        <div class="layui-form-item text-center">
            <button class="layui-btn layui-btn-danger" type="submit">发送测试短信</button>
        </div>
    </div>
</form>
{/block}

{block name="script"}
<script>
    (function () {
        window.form.render();
        buildForm('code');
        $('[name=sms_type]').on('click', function () {
            buildForm($('[name=sms_type]:checked').val())
        });

        // 表单显示编译
        function buildForm(value) {
            var $tips = $("[data-storage-type='" + value + "']");
            $("[data-storage-type]").not($tips.show()).hide();
        }
    })();
</script>
{/block}