
<div id="hui-footer">
    <a href="/shop/index/index" id="nav-home">
        <div class="hui-footer-icon"><img src="http://saas.eaeducation.net/static/home/shop/20181225/home.png"></div>
        <div class="hui-footer-text">首页</div>
    </a>
    <a href="/shop/study/find" id="nav-news">
        <div class="hui-footer-icon"><img src="http://saas.eaeducation.net/static/home/shop/20181225/find.png"></div>
        <div class="hui-footer-text">发现</div>
    </a>
    <a href="{:url('product/index')}" id="nav-type">
        <div class="hui-footer-icon"><img src="http://saas.eaeducation.net/static/home/shop/20181225/type.png"></div>
        <div class="hui-footer-text">分类</div>
    </a>
    <a href="{:url('product/cart')}" id="nav-forum">
        <div class="hui-footer-icon"><img src="http://saas.eaeducation.net/static/home/shop/20181225/cart.png"></div>
        <div class="hui-footer-text">购物袋</div>
    </a>
    <a href="{:url('order/list')}" id="nav-my">
        <div class="hui-footer-icon"><img src="http://saas.eaeducation.net/static/home/shop/20181225/person.png"></div>
        <div class="hui-footer-text">订单查询</div>
    </a>
</div>
<script src="/static/extend_res/jquery/jquery-3.3.1.js"></script>
<script src="/static/extend_res/mobile/js/hui.js"></script>
<script src="/static/extend_res/mobile/js/hui-swipe.js"></script>
<script src="/static/home/shop/js/product/zepto.lazyload.min.js"></script>