{extend name='admin@public/content'}

{block name="content"}
<!-- 表单搜索 开始 -->
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">物品名称</label>
        <div class="layui-input-inline">
            <input name="title" value="{$Think.get.title|default=''}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">领取人</label>
        <div class="layui-input-inline">
            {:get_employee_select('', 'user_id', session('user.employee.department'), $Think.get.user_id, '', [], false)}
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">出库时间</label>
        <div class="layui-input-inline">
            <input type="text" id="time_range" name="time_range" value="{$Think.get.time_range|default=''}"
                   placeholder="选择时间" class="input-sm form-control">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
<script>
    window.form.render();
    layui.use('laydate', function () {
        var laydate = layui.laydate
        laydate.render({
            elem: '#time_range',
            range: '~',
            theme: '#0099CC',
            format: 'yyyy-MM-dd',
            max: '<?= date("Y-m-d")?>',
        })
    })
</script>
<!-- 表单搜索 结束 -->
<form onsubmit="return false;" data-auto="true" method="post">
    <!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <input type="hidden" value="resort" name="action">
    <table id="test" class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-check-td'>
                <input data-auto-none="" data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-center'>物品名称</th>
            <th class="text-center">数量</th>
            <th class="text-center">领取人</th>
            <th class="text-center">备注</th>
            <th class="text-center">创建时间</th>
        </tr>
        </thead>
        <tbody>
        <!--{foreach $list as $key=>$vo}-->
        <tr>
            <td class='list-table-check-td'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class="text-center">{$vo.title}</td>
            <td class="text-center">{$vo.number}</td>
            <td class="text-center">{$vo.user_id|get_employee_name2}</td>
            <td class="text-center">{$vo.remark|cn_substr}</td>
            <td class="text-center">{$vo.created_at|format_time}</td>
        </tr>
        <!--{/foreach}-->
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
</form>

{/block}