{extend name='admin@public/content'}

{block name="content"}
<style>
    .new-table td {
        border:1px solid #e2e2e2;
    }
</style>
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" style="height: 60px;">
    <div class="row" style="margin-left:0.4%;float: left">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">渠道</label>
            <div class="layui-input-inline">
                {:get_channels_select('source', $Think.get.source,'',[],false)}
            </div>
        </div>
        {if in_array(session('user.authorize'),[1,3,4,22])}
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">校区</label>
            <div class="layui-input-inline">
                {:get_branches_select('branch', $Think.get.branch, '', [],false)}
            </div>
        </div>
        {/if}
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">关键字</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{$Think.get.keyword|default=''}" name="keyword" placeholder="请输入关键字   ">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-inline">
                <input type="text" id="time_range" name="time_range" value="{$Think.get.time_range|default=''}"
                       placeholder="选择创建时间" class="input-sm form-control">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </div>
    <div class="row" style="margin-right:0.4%;float: right">
        <div>
            <div class="layui-btn-group">
                <a class="layui-btn {eq name='Think.get.status' value='1'}layui-btn-success{else/} layui-btn-primary {/eq} layui-btn-small"
                   data-open="{$classuri}/index?status=1">
                    在读
                </a>
                <a class="layui-btn {eq name='Think.get.status' value='0'}layui-btn-success{else/} layui-btn-primary {/eq} layui-btn-small"
                   data-open="{$classuri}/index?status=0">
                    停课
                </a>
                <a class="layui-btn {eq name='Think.get.status' value='-99'}layui-btn-success{else/} layui-btn-primary {/eq} layui-btn-small"
                   data-open="{$classuri}/index?status=-99">
                    结课
                </a>
            </div>
        </div>
    </div>
</form>
<script>
    window.form.render();
</script>

<form onsubmit="return false;" data-auto="true" method="post">
    <!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <input type="hidden" value="resort" name="action">
    <table class="layui-table">
        <thead>
        <tr>
            <th class="text-center" style="width: 5%">姓名[name]</th>
            <th class="text-center">家长关系</th>
            <th class="text-center">联系人电话</th>
<!--            <th class="text-center">昵称</th>-->
            <th class="text-center" style="width: 50%">
                <table class="layui-table" lay-skin="line" style="border-style: hidden">
                    <tbody>
                    <tr>
                        <th class="text-center" style="width: 25%">课程名称</th>
                        <th class="text-center">购买课时</th>
                        <th class="text-center">已用课时</th>
                        <th class="text-center">剩余课时</th>
                        <th class="text-center">所在班级</th>
                        <th class="text-center">班主任</th>
                    </tr>
                    </tbody>
                </table>
            </th>
<!--            <th class="text-center">监护人电话</th>-->
            <th class="text-center">经办员</th>
            <th class="text-center">CC</th>
            <th class="text-center">采单员</th>
<!--            <th class="text-center">学员状态</th>-->
<!--            <th class="text-center">创建时间</th>-->
            <th class="text-center">校区</th>
            <th class="text-center">渠道</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <!--{foreach $list as $key=>$vo}-->
        <tr>
            <td class="text-center text-nowrap">
                <a data-open='{:url("marketing/premarketing/customerview")}?id={$vo.id}'>
                    {$vo.name}{$vo.nickname}
                </a>
            </td>
            <td class="text-center text-nowrap">
                {$vo.relation|convert_category=9|raw|default="未知"}
            </td>
            <td class="text-center">{$vo.parent_tel}</td>
            <td class="text-center">
                <table class="layui-table new-table">
                    <tbody>
                    {:get_student_course($vo.id)}
                    </tbody>
                </table>
<!--                {:get_student_course($vo.id)}-->
            </td>

<!--            <td class="text-center">{$vo.nickname}</td>-->
<!--            <td class="text-center">{$vo.parent_tel}</td>-->
            <td class="text-center">{:get_user_realname($vo.userid)}</td>
            <td class="text-center">{:get_user_realname($vo.collect_id)}</td>
            <td class="text-center">{:get_user_realname($vo.sales_id)}</td>
<!--            {if $vo.status == 0}-->
<!--            <td class="text-center nowrap text-blue">停课</td>-->
<!--            {elseif $vo.status == -99 /}-->
<!--            <td class="text-center nowrap text-red">结课</td>-->
<!--            {else /}-->
<!--            <td class="text-center nowrap text-green">在读</td>-->
<!--            {/if}-->
<!--            <td class="text-center nowrap">{$vo.created_at|format_time}</td>-->
            <td class="text-center nowrap">{$vo.branch|convert_branch}</td>
            <td class="text-center nowrap">{$vo.source|convert_channel}</td>
            <td class="text-center nowrap">
                {if auth("$classuri/edit")}
                <span class="text-explode">|</span>
                <a data-title="编辑" data-modal='{:url("$classuri/edit")}?id={$vo.id}'>编辑</a>
                {/if}
            </td>
        </tr>
        <!--{/foreach}-->
        </tbody>
    </table>
    {if isset($page)}<p style="display: inline-block">{$page|raw}</p>{/if}
    {if isset($pages)}<p style="display: inline-block">{$pages|raw}</p>{/if}
    <p style="display: inline-block; color: red">总课时：{$lession.goods_num}；已消耗课时：{$lession.consume_num}；剩余课时：{$lession.goods_num - $lession.consume_num}</p>
    <!--{/empty}-->
</form>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate
        laydate.render({
            elem: '#time_range',
            range: '~',
            theme: '#0099CC',
            format: 'yyyy-MM-dd',
            max: '<?= date("Y-m-d")?>',
            done: function (value, date, endDate) {
                var date = new Date(date.year + '-' + date.month + '-' + date.date)
                var endDate = new Date(endDate.year + '-' + endDate.month + '-' + endDate.date)
                // if ((endDate - date) / 1000 / 86400 > 31) {
                //     $.msg.alert('最大时间范围为31天', function () {
                //         $('#time_range').val('')
                //     })
                // }
            }
        })
    })
</script>
{/block}