<div class="padding-15">
<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">划课学员</label>
        <div class="layui-input-inline">
            <input type="text" name="" value='{:get_customer_name($cid)}' required="required" readonly  class="layui-input">
        </div>
        <label class="layui-form-label">划消课时</label>
        <div class="layui-input-inline">
            <input type="number" required name="student_hour" value="0" title="划消课时" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">划课类型</label>
        <div class="layui-input-block" style="width: 79%; ">
            <select name='type' class='layui-select full-width' style="display: block">
                <option value='1'>上课</option>
                <option value='2'>补课</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item select-time2">
        <label class="layui-form-label">划课时间</label>
        <div class="layui-input-block" style="width: 79%">
            <input type="text" id="date_range" name="date" value="" style="display: inline-block"
                   placeholder="选择补课日期（1970-01-01）" class="input-sm form-control layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">补录备注</label>
        <div class="layui-input-block" style="width: 79%">
            <input type="text" name="remark" value="" placeholder="请说明补录课时原因" title="请说明补录课时原因，以便查阅" class="layui-input" required/>
        </div>
    </div>
    <div class="layui-form-item" style="margin: 0px 45px 0px 45px">
        <table class="layui-table" lay-skin="line">
            <thead>
            <tr>
                <th class='list-table-check-td'></th>
                <th class="text-center">课程名称</th>
                <th class="text-center">购买课时</th>
                <th class="text-center">已用课时</th>
                <th class="text-center">剩余课时</th>
                <th class="text-center">所在班级</th>
            </tr>
            </thead>
            <tbody>
            <!--{foreach $courses as $key=>$vo}-->
            <tr>
                <td class='list-table-check-td'>
                    <input class="list-check-box" value='{$vo.oid}-{$vo.lid}-{$vo.course_id}' name="ids" type='radio'>
                </td>
                <td class="text-center">{$vo.title}</td>
                <td class="text-center">{$vo.goods_num}</td>
                <td class="text-center">{$vo.consume_num}</td>
                <td class="text-center">{$vo.goods_num - $vo.consume_num}</td>
                <td class="text-center">{:convert_class($vo['class_id'])}</td>
            </tr>
            <!--{/foreach}-->
            </tbody>
        </table>
    </div>
    <input type="hidden" name="cid" value="{$cid}">

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消吗？" data-close>取消</button>
    </div>

</form>
</div>

<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate
        laydate.render({
            elem: '#time_range',
            range: '-',
            type: 'time',
            theme: '#0099CC',
            format: 'HH:mm:ss',
            value: "09:00:00 - 11:00:00"
        })
        var laydate1 = layui.laydate
        laydate1.render({
            elem: '#date_range',
            theme: '#0099CC',
            format: 'yyyy-MM-dd',
            value: "{:date('Y-m-d')}"
        })
    })
</script>
