<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>易宝支付</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/plugs/jquery-weui/lib/weui.min.css">
    <link rel="stylesheet" href="/static/plugs/jquery-weui/css/jquery-weui.min.css">
</head>
<body ontouchstart>
<div style="padding-top: 15px;">
    <div class="page__bd">
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">付款金额</label>
                    <em class="weui-form-preview__value">¥ {$order.money|number_format=2}</em>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">订单号</label>
                    <span class="weui-form-preview__value">{$order.order_no}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">商品</label>
                    <span class="weui-form-preview__value">培训费用</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">商品描述</label>
                    <span class="weui-form-preview__value">培训费用</span>
                </div>
            </div>
            <div class="weui-form-preview__ft">
                {if $is_wechat}
                <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:" id="pay">立即支付</a>
                {else}
                <a class="weui-form-preview__btn weui-form-preview__btn_primary"
                   href="{$res.mweb_url}&redirect_url={:urlencode(url('/wechat/pay.show/success_page', [], true, true).'?orderno='.$order.order_no)}"
                >立即支付</a>
                {/if}
            </div>
        </div>
    </div>
</div>


<script src="/static/plugs/jquery-weui/lib/fastclick.js"></script>
<script src="/static/plugs/jquery-weui/lib/jquery-2.1.4.js"></script>
<script src="/static/plugs/jquery-weui/js/jquery-weui.min.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body)
    });
</script>
<!--{if $is_wechat}-->
<script>
    var pay = function () {
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest', JSON.parse('{$config|raw}'),
            function (res) {
                if (res.err_msg == "get_brand_wcpay_request:ok") {
                    $.alert('支付成功!', function () {
                        window.location.href = '/wechat/pay.yibao/success_page.html?orderno=' + '{$order.orderno}'
                    })
                } else {
                    $.alert('支付失败, 请重新支付!')
                }
            });
    };

    function onBridgeReady() {
        $("#pay").on('click', pay);
    }

    if (typeof WeixinJSBridge == "undefined") {
        if (document.addEventListener) {
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        } else if (document.attachEvent) {
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    } else {
        onBridgeReady();
    }
</script>
<!--{/if}-->
</body>
</html>